img { 
    height: auto;
    width: 500px;
}
.bacon-title { 
    color: red; 
}
.quiche-title { 
    color: greenyellow; 
}
.smoothie-title { 
    color: purple; 
} 
.bacon-list,
.quiche-list,
.smoothie-list { 
    background-color: black;
    color: white; 
}
