img { 
    height: auto;
    width: 500px;
}

.main-head,
.bacon-head,
.smoothie-head,
.quiche-head { 
    color: white; 
    text-align: center;
}

a,
h3,
ul,
ol,
p { 
    color: white; 
}
body { 
    background-color: black; 
}